
<form class="" asp-controller="Events" asp-action="GetAll" method="get">
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Search event..." 
               name="searchString"  value="@ViewBag.SearchString">
    </div>
</form>