<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>@ViewBag.Title</title>
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">nwEventoMVCa</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a asp-area="" asp-controller="Events" asp-action="Index">Events</a></li>
                <li><a asp-area="" asp-controller="Products" asp-action="Index">Products</a></li>
            </ul>
            <ul class="nav navbar-nav">
                @if (User.Identity.IsAuthenticated)
                {
                    <li><a asp-area="" asp-controller="Cart" asp-action="Index">Cart</a></li>
                    <li><a asp-area="" asp-controller="Orders" asp-action="Index">Orders</a></li>
                    <li><a asp-area="" asp-controller="Account" asp-action="Index">My Profile</a></li>
                    <li><a asp-area="" asp-controller="Account" asp-action="Logout">Logout</a></li>
                }
                else
                {
                    <li><a asp-area="" asp-controller="Account" asp-action="Login">Login</a></li>
                    <li><a asp-area="" asp-controller="Account" asp-action="Register">Register</a></li>
                }
            </ul>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
    </div>
    <footer class="container-fluid">
        <p></p>
    </footer>
    <script src="~/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>