@using nwEventoMVCa.Core.DTO;
@model IEnumerable<EventViewModel>
@{
    var isAdmin = User.IsInRole(RoleDto.Admin.ToString());
}

@if (isAdmin)
{
    <div class="row">
        <div class="col-lg-6">
            <a asp-area="" asp-controller="Events" asp-action="Add" class="btn btn-primary">
                <i class="fas fa-plus"></i>&nbsp; Add Event
            </a>
        </div>
    </div>
}
<br />

<partial name="_EventSearchBox" />

@if (Model.Any())
{

    <div class="row">
        @foreach (var even in Model)
        {
            <partial name="_EventSummary" model="even" />
        }
    </div>
}
else
{
    <p>No events @ViewBag.SearchString were found</p>
}

