@model IEnumerable<ProductViewModel>


<div class="row">
    <div class="col-lg-12">
        <div class="list-group">
            @foreach (var product in Model)
            {
                <div class="col-lg-4">
                    <div class="card">
                        <div class="card-block">
                            <h4 class="card-title">@product.Name</h4>
                            <h6 class="card-subtitle mb-2 text-muted">Price: @product.Price</h6>
                            <h6 class="card-subtitle mb-2 text-muted">Id: @product.Id</h6>
                            @if (User.Identity.IsAuthenticated)
                            {
                                <button type="button" class="btn btn-primary add-to-cart" data-id="@product.Id">Add to cart</button>
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>